{% extends "./base.html" %}

{%block content%}
        <br>
        <br>
    <div class="jumbotron container p-2 alert alert-danger text-center">
        <h1 class="display-4">Payment Failed</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta incidunt a quibusdam quos nulla sit sunt saepe, animi fugiat provident obcaecati dolores perferendis assumenda ducimus veritatis minima eos tenetur. Illum!</p>
        <hr class="my-4">
        <p>your payemnt failed ..</p>
    </div>

{% endblock %}